@import '../theme/color.module.scss';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px -4px 0 rgba(0, 0, 0, .2);
    @include light-gradient;
    padding: 100px 0px 0px 0px;

    .logo {
        padding-bottom: 50px;

        a {
            font-size: 3.6rem;
            letter-spacing: .4rem;
            display: block;
            cursor: pointer;
            font-family: 'EB Garamond', serif;
        }
    }

    .ethos {
        max-width: 50%;
        text-align: center;
        position: relative;

        &::before {
            content: '';
            width: calc(70%);
            height: 2px;
            background-color: $dark;
            display: block;
            position: absolute;
            left: 15%;

        }

        &::after {
            content: '';
            width: calc(70%);
            height: 2px;
            background-color: $dark;
            display: block;
            position: absolute;
            left: 15%;
        }
    }
}

@media screen and (max-width:768px) {
    .ethos {
        max-width: 100%;
        min-width: 90%;
        margin-bottom: 50px;
    }
}