@import '../theme/color.module.scss';

.container {
    height: 88vh;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
    position: relative;

    .image {
        height: 88vh;
        width: 100%;
        position: relative;
        display: block;
        clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0 50%, 25% 0);
        background-image: url("../../public/abstract-purple.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .info {
        position: absolute;
        width: 40%;
        top: 0%;
        left: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 3.2rem;
            color: $dark;
            margin: 12px 0px;
        }

        p {
            margin: 0;
            color: $dark;
            font-size: x-large;
        }

        .cta {
            margin-top: 35px;

            a {
                border: 2px solid $primary;
                padding: 10px 20px;
                border-radius: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                background-color: $primary;
                color: $light;
                cursor: pointer;

                &:hover {
                    background-color: $light;
                    color: $primary;
                    border-color: $primary;
                }
            }
        }
    }
}