@import '../theme/color.module.scss';

.container {
    height: 88vh;
    @include light-gradient;
    position: relative;

    .image {
        height: 88vh;
        width: 100%;
        position: relative;
        display: block;
        clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0 50%, 25% 0);
        @include primary-gradient;
        background-size: cover;
        background-attachment: fixed;
    }

    .info {
        position: absolute;
        width: 40%;
        top: 0%;
        left: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 3.2rem;
            color: $dark;
            margin: 12px 0px;
        }

        p {
            margin: 0;
            color: $dark;
            font-size: x-large;
        }

        .cta {
            margin-top: 35px;

            a {
                border: 2px solid $primary;
                padding: 10px 20px;
                border-radius: 15px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                background-color: $primary;
                color: $light;
                cursor: pointer;

                &:hover {
                    background-color: $light;
                    color: $primary;
                    border-color: $primary;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .container {
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;


        .image {
            clip-path: polygon(3% 0, 3% 50%, 3% 97.5%, 100% 97.5%, 100% 100%, 0% 100%, 0 50%, 0% 0);
            height: 70vh;
        }

        .info {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 10%;

            h1 {
                font-size: 2.8rem;
            }

            p {
                margin: 0;
                color: $dark;
                font-size: 1.2rem;
            }
        }
    }
}