@import '../theme/color.module.scss';

.nav {
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
    overflow-x: hidden;
    @include light-gradient;


    .logo {
        font-size: 3.6rem;
        letter-spacing: .4rem;
        display: block;
        cursor: pointer;
        margin-left: 6%;

        a {
            color: $dark;
            font-family: 'EB Garamond', serif;
        }
    }

    .buttons {
        display: flex;
        margin-right: 6%;

        a {
            border: 2px solid $primary;
            margin-left: 10px;
            padding: 10px 20px;
            border-radius: 15px;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            background-color: $primary;
            color: $light;
            cursor: pointer;

            &:hover {
                background-color: $light;
                color: $primary;
                border-color: $primary;
            }
        }
    }
}


@media screen and (max-width:768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

        .logo {
            margin-left: 0;
            margin-bottom: 30px;
        }

        .buttons {
            margin-right: 0;
            width: 100%;
            display: flex;
            justify-content: space-around;

            a {
                margin: 0;
            }
        }
    }
}