$primary: rgb(138, 13, 138);
$lightprimary: rgb(179, 84, 179);
$light: #ffffffff;
$grey: rgb(207, 207, 207);
$dark: #32322cff;
$lightdark: rgb(90, 90, 86);

@mixin primary-gradient {
    background: #DA22FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@mixin dark-gradient {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #232526, #414345);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #232526, #414345);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin light-gradient {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}